In [18]:
#dictionary
#create an empty dictionary
d1=dict()
print(type(d1))

<class 'dict'>

In [1]:
d1={}
print(type(d1))

<class 'dict'>

In [23]:
d1.update({'student_name':['Nilam','Anushka','Sanjana','Anjali'],
'Marks':(90,85,78,90)})
print(d1)

{'student_name': ['Nilam', 'Anushka', 'Sanjana', 'Anjali'], 'Marks': (90, 85, 78, 90)}

In [21]:
import pandas as pd #as keyword pip:preferrable Install Program
pd.DataFrame(d1)

  student_name  Marks
0        Nilam     90
1      Anushka     85
2      Sanjana     78
3       Anjali     90

In [25]:
d1.get('student_name')

['Nilam', 'Anushka', 'Sanjana', 'Anjali']

In [26]:
#key as an index
d1['student_name']

['Nilam', 'Anushka', 'Sanjana', 'Anjali']

In [27]:
d1.keys()

dict_keys(['student_name', 'Marks'])

In [28]:
d1.values()

dict_values([['Nilam', 'Anushka', 'Sanjana', 'Anjali'], (90, 85, 78, 90)])

In [29]:
d1.items()

dict_items([('student_name', ['Nilam', 'Anushka', 'Sanjana', 'Anjali']), ('Marks', (90, 85, 78, 90))])

In [30]:
d1.popitem()
print(d1)

{'student_name': ['Nilam', 'Anushka', 'Sanjana', 'Anjali']}

In [31]:
d1

{'student_name': ['Nilam', 'Anushka', 'Sanjana', 'Anjali']}

In [33]:
d1.pop('student_name')

['Nilam', 'Anushka', 'Sanjana', 'Anjali']

In [35]:
d1

{}

In [4]:
keys=list(range(1,7))
keys
values='python'
dict.fromkeys(keys,values)

{1: 'python', 2: 'python', 3: 'python', 4: 'python', 5: 'python', 6: 'python'}

In [ ]:
#dict() {} popitem pop update

In [1]:
#dictionary within dictionary

user_data={"user1":{'name':'Nilam','education':'B.A.'},
"user2":{'name':'Nikhil','education':'B.Com'},
"user3":{'name':'Aniket','education':'B.E.'}}

user_data

{'user1': {'name': 'Nilam', 'education': 'B.A.'},
 'user2': {'name': 'Nikhil', 'education': 'B.Com'},
 'user3': {'name': 'Aniket', 'education': 'B.E.'}}

In [2]:
import pandas as pd
pd.DataFrame(user_data)

           user1   user2   user3
name       Nilam  Nikhil  Aniket
education   B.A.   B.Com    B.E.

In [9]:
#find out users name

user_data['user1']['name']

'Nilam'

In [10]:
user_data['user1']

{'name': 'Nilam', 'education': 'B.A.'}

In [11]:
user_data['user3']['education']

'B.E.'

In [12]:
user_data.values()

dict_values([{'name': 'Nilam', 'education': 'B.A.'}, {'name': 'Nikhil', 'education': 'B.Com'}, {'name': 'Aniket', 'education': 'B.E.'}])

In [13]:
user_data.items()

dict_items([('user1', {'name': 'Nilam', 'education': 'B.A.'}), ('user2', {'name': 'Nikhil', 'education': 'B.Com'}), ('user3', {'name': 'Aniket', 'education': 'B.E.'})])

In [14]:
user_data.update({'user4':{'name': 'Nilam', 'education': 'B.A.'}})

In [15]:
user_data

{'user1': {'name': 'Nilam', 'education': 'B.A.'},
 'user2': {'name': 'Nikhil', 'education': 'B.Com'},
 'user3': {'name': 'Aniket', 'education': 'B.E.'},
 'user4': {'name': 'Nilam', 'education': 'B.A.'}}

In [16]:
#update command merge one dictionary to other dictionary

In [24]:
user_data['user5']={} #user_data['user5']={}
user_data['user5']['name']='Sachin'
user_data['user5']['education']='BE(Mech)'

In [23]:
user_data

{'user1': {'name': 'Nilam', 'education': 'B.A.'},
 'user2': {'name': 'Nikhil', 'education': 'B.Com'},
 'user3': {'name': 'Aniket', 'education': 'B.E.'},
 'user4': {'name': 'Nilam', 'education': 'B.A.'},
 'user5': {'name': 'Sachin', 'education': 'BE(Mech)'}}

In [26]:
user_data['user4']['education']='BCA'

In [27]:
user_data

{'user1': {'name': 'Nilam', 'education': 'B.A.'},
 'user2': {'name': 'Nikhil', 'education': 'B.Com'},
 'user3': {'name': 'Aniket', 'education': 'B.E.'},
 'user4': {'name': 'Nilam', 'education': 'BCA'},
 'user5': {'name': 'Sachin', 'education': 'BE(Mech)'}}

In [30]:
user_data['user1']={'name': 'Nilam', 'education': 'B.A.'}

In [31]:
user_data

{'user1': {'name': 'Nilam', 'education': 'B.A.'},
 'user2': {'name': 'Nikhil', 'education': 'B.Com'},
 'user3': {'name': 'Aniket', 'education': 'B.E.'},
 'user4': {'name': 'Nilam', 'education': 'BCA'},
 'user5': {'name': 'Sachin', 'education': 'BE(Mech)'}}

In [32]:
#delete a dictionary record

In [36]:
user_data.popitem()

('user5', {'name': 'Sachin', 'education': 'BE(Mech)'})

In [37]:
user_data

{'user1': {'name': 'Nilam', 'education': 'B.A.'},
 'user2': {'name': 'Nikhil', 'education': 'B.Com'},
 'user3': {'name': 'Aniket', 'education': 'B.E.'},
 'user4': {'name': 'Nilam', 'education': 'BCA'}}

In [38]:
user_data.pop('user1')

{'name': 'Nilam', 'education': 'B.A.'}

In [39]:
user_data

{'user2': {'name': 'Nikhil', 'education': 'B.Com'},
 'user3': {'name': 'Aniket', 'education': 'B.E.'},
 'user4': {'name': 'Nilam', 'education': 'BCA'}}

In [41]:
#range is a function it generates sequence of ordered numbers value should be integer

Syntax : range(start,stop,step)

start :0

step:+1 asc -1 desc

start<stop    +1

start>start   -1

In [44]:
range(10)

range(0, 10)

In [46]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
set(range(1,11))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [51]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [54]:
list(range(2,11,2))

[2, 4, 6, 8, 10]

In [57]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [61]:
print(list(range(50,29,-1)))

[50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30]

In [62]:
list(range(4,44,4))

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [63]:
list(range(2,22,4))

[2, 6, 10, 14, 18]

In [64]:
list(range(2,10,-1))

[]