In [2]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

In [3]:
tuple_1=(23,34,46,57,87,84)
even_list=[]
def even_number(x):
    for i in x:
        if (i%2==0):
            even_list.append(i)
    return even_list
print('Even numbers',even_number(tuple_1))

Even numbers [34, 46, 84]

In [13]:

def even(x):
    return x%2==0
tuple(filter(even,tuple_1))

(34, 46, 84)

In [16]:
tuple_1=(23,34,46,57,87,84)
tuple(filter(lambda x:x%2==0,tuple_1))#one by one numbers checked by filter 6 iterations happens

(34, 46, 84)

In [15]:
#only single expression is possible

In [4]:
name='Pranoti'
vowels=['a','e','i','o','u']

list(filter(lambda x:x in vowels,name))#true or false

['a', 'o', 'i']

In [14]:
list(map(lambda x:x in vowels,name))

[False, False, True, False, True, False, True]

In [28]:
#to filter the name of students which contains alphabet a or 'A'
student_name=['Sanjana','Anjali','Nilesh','Nikhil','Satyajeet']

In [34]:
list(filter(lambda x:'a' in x or 'A' in x,student_name))

['Sanjana', 'Anjali', 'Satyajeet']

In [35]:
list(filter(lambda x:'n' in x or 'N' in x,student_name))

['Sanjana', 'Anjali', 'Nilesh', 'Nikhil']

In [15]:
sample=['abc',67,'',-67,[],5667]
list(filter(lambda x:bool(x),sample))

['abc', 67, -67, 5667]

In [40]:
#reduce=>iterator function
import functools as fn
tup1=(34,67,78,98,56)
fn.reduce(lambda x,y:x+y,tup1)  #one var is input and other is output

333

In [42]:
import functools as fn
name='Anushka'
name1='jkj'
fn.reduce(lambda x,y:x+y,name,name1)

'jkjAnushka'

In [46]:
import functools as fn
name='Anushka'
fn.reduce(lambda y,x:x+y,name)  #output is x

'akhsunA'

In [ ]:
#filter reduce , map , zip, iter, enumerate , reverse,

In [1]:
str1='I like python'
str2='**'
#I **like ** python
def string(str1,str2):           #fun definition
    #convert string into list
    s=str1.split()
    print(s)
    return str2.join(s)
string(str1,str2)                 #fun call

['I', 'like', 'python']

'I**like**python'

In [ ]:
#imp is split

In [62]:
#'string is immutable'
'''
name='Piyush'

def func(x):
    s=[]
    for i in name:
        if i=='y':
            s.append('r')
        else:
            s.append(i)
    return ''.join(s)

func(name)
'''

'Pirush'

In [65]:
def replace(x,y,z):
    name2=x.replace(y,z)
    return name2
replace('Anjali','a','y')

'Anjyli'

In [ ]:
def replace(x,y,z):

    name2=x.replace(y,z)
    return name2
replace('Anjali','a','y')

In [82]:
a=input('Enter the name')
b=input('Enter the index')
c=input('Enter the replacement character')
def replace(x,y,z):
    name2=x.replace(x[int(y)],z)
    return name2
replace(a,b,c)

'ankali'

In [83]:
x='Anjali'
a=x.index('a')
a

3

In [84]:
[i for i in range(18)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

## Input function

In [85]:
#using for loop
list1=[]
n=int(input('Enter total no. of elements'))
for i in range(n):
    ele=int(input())
    list1.append(ele)
print(list1)

[12, 22, 14, 3, 33]

In [2]:
#method 2 using list comprehension
input_list=[ int(i) for i in input('Enter total no. of elements').split()]
input_list

[56, 66]

In [4]:
#method 2 using list comprehension

list1=[int(input()) for i in range(int(input('Enter total no. of elements')))]
print('List from user',list1)

List from user [45, 67]

In [99]:
#using map function
n=int(input('Enter the total number of elements'))
list(map(int,input('Enter the elements').split()))[:n]

[23]

In [103]:
#input( ) for sequence data type tuple

input_list=tuple(int(i) for i in input('Enter total no. of elements').split())
input_list

(33, 44)

In [104]:
input_list=set(int(i) for i in input('Enter total no. of elements').split())
input_list

{44, 55}

In [6]:
#input for dictionary data typea=
input_list=dict((key,value) for key,value in zip(input().split(),input().split()))
input_list

{'anjali': '34', 'neha': '55'}

In [26]:
n=int(input())
list(map(int,input().split()))[:n]

[22, 33]