In [6]:
#for loop: list data type

for i in [10,20,30,40]:
    print(i)
    print('Hello')

10
Hello
20
Hello
30
Hello
40
Hello

In [7]:
for i in (10,20,30,40):
    print(i)
    print('Hello')

10
Hello
20
Hello
30
Hello
40
Hello

In [1]:
for i in {10,20,20,30,40,40,20,40}:
    print(i)
    print('Hello')

40
Hello
10
Hello
20
Hello
30
Hello

In [9]:
#for loop for range data type

for i in range(5):
    print(i)
    print('hello')

0
hello
1
hello
2
hello
3
hello
4
hello

In [10]:
#for loop for string data type
s=[]
for i in 'python':
    s.append(i)
print(s)

['p', 'y', 't', 'h', 'o', 'n']

In [11]:
#for loop for dictionary data type

d1={'numbers':[1,2,3,4,5],
'square':[1,4,9,16,25]}
for i in d1:
    print('hello')
    print(i)

hello
numbers
hello
square

In [12]:

for i in d1.values():
    print(i)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

In [13]:
for i, j in d1.items():
    print(i,j)

numbers [1, 2, 3, 4, 5]
square [1, 4, 9, 16, 25]

In [14]:
#to display the even numbers from 11 to 50

for i in range(12,51,2):
    print(i)

12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [15]:
for number in range(11,51):
    if (number%2==0):
        print('even number',number)

even number 12
even number 14
even number 16
even number 18
even number 20
even number 22
even number 24
even number 26
even number 28
even number 30
even number 32
even number 34
even number 36
even number 38
even number 40
even number 42
even number 44
even number 46
even number 48
even number 50

In [16]:
for number in range(11,51):
    if (number%2!=0):
        print('odd number',number)

odd number 11
odd number 13
odd number 15
odd number 17
odd number 19
odd number 21
odd number 23
odd number 25
odd number 27
odd number 29
odd number 31
odd number 33
odd number 35
odd number 37
odd number 39
odd number 41
odd number 43
odd number 45
odd number 47
odd number 49

In [17]:
#to display odd and even
for number in range(11,51):
    if (number%2==0):
        print('even number',number)
    else: 
        print('odd number',number)

odd number 11
even number 12
odd number 13
even number 14
odd number 15
even number 16
odd number 17
even number 18
odd number 19
even number 20
odd number 21
even number 22
odd number 23
even number 24
odd number 25
even number 26
odd number 27
even number 28
odd number 29
even number 30
odd number 31
even number 32
odd number 33
even number 34
odd number 35
even number 36
odd number 37
even number 38
odd number 39
even number 40
odd number 41
even number 42
odd number 43
even number 44
odd number 45
even number 46
odd number 47
even number 48
odd number 49
even number 50

In [18]:
odd=[]
even=[]
for number in range(11,51):
    if (number%2==0):
        even.append(number)
    else: 
        odd.append(number)
print('Even number:',even)
print('Odd number:',odd)

Even number: [12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]
Odd number: [11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [19]:
#to find positive and negative numbers from a given list 

num_list=[23,-67,80,-90,7,-6]
positive=[]
negative=[]
for i in num_list:
    if (i<0):
        negative.append(i)
    else:
        positive.append(i)
print('Positive numbers',positive)
print('Negative numbers',negative)

Positive numbers [23, 80, 7]
Negative numbers [-67, -90, -6]

In [20]:
#to display the sum of numbers from 1 to 10
sum_of_num=0
for i in range(1,11):
  sum_of_num=sum_of_num+i
print('Sum of numbers 1 to 10 is',sum_of_num)

Sum of numbers 1 to 10 is 55

In [21]:
today_date='22/05/2024'
sum_of_digits=0
for i in today_date:
    if (i.isdigit()):
       sum_of_digits=int(i)+sum_of_digits
print(sum_of_digits)

17

In [22]:
#assignment operators =.+=,-=,*=,/=**=,//=,%=

a=10
b=30
print('value of a and b',a,b)

a+=b #a=a+b  b+=a b=b+a
print('After execution')
print('Addition',a,b)
a*=b #a=a*b
print('Multiplication',a,b)
print(a,b)
a-=b
print('sub')
print(a,b)

value of a and b 10 30
After execution
Addition 40 30
Multiplication 1200 30
1200 30
sub
1170 30

In [23]:
#assignment operators =.+=,-=,*=,/=**=,//=,%=

a=2
b=3
print('value of a and b',a,b)

a**=b #a=a**b
print('After execution')
print('Exp a=',a,'b=',b)

value of a and b 2 3
After execution
Exp a= 8 b= 3

In [24]:
a=2
b=3
print('value of a and b',a,b)

b**=a #a=a**b
print('After execution')
print('Exp',a,'b=',b)

value of a and b 2 3
After execution
Exp 2 b= 9

In [25]:
#To find duplicate elements from a given list with index number.

num_list=[21,47,87,53,32,87,90,95]
for i in range(len(num_list)):
    if (num_list.count(num_list[i])>1):
        print('Duplicate element',num_list[i])
        print('Index number',i)

Duplicate element 87
Index number 2
Duplicate element 87
Index number 5

In [26]:
num_list=[21,47,87,53,32,87,90,95]
num_list.count(87)

2

In [27]:
#To find a search element in a given list, if element is found then return element with index number
names=['Satyajeet','Piyush','Hatim','Namrata','Nikhil','Anushka','Anjali']
user_name=input('Enter the name')
for i in range(len(names)): #0,1,.........6
    if (names[i]==user_name):
        print(f"{user_name} is present in a list and index number is {i}")
        break                                                                                           #break is used to stop the execution
else:   
    print(f"{user_name} is not present in a list")             #for loop with else

anjali is not present in a list

In [28]:
x='Good Friday'
for i in x:
    if i=="F":
        break
    print(i)

G
o
o
d

In [29]:
x='Good Friday'
for i in x:
    if i=="F":
        continue
    print(i)

G
o
o
d

r
i
d
a
y

In [31]:
x='Good Friday'
for i in x:
    print(i)
else:
    print("Outside in for loop")

G
o
o
d

F
r
i
d
a
y
Outside in for loop

In [34]:
for i in range(1,6):
    print(i*'*')

*
**
***
****
*****

In [36]:
for i in 'Good':
    print(i)
    for j in 'Bad':
        print(j)

G
B
a
d
o
B
a
d
o
B
a
d
d
B
a
d

In [55]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end='\t')
    print('\n')

1

1	2

1	2	3

1	2	3	4

1	2	3	4	5

In [58]:
for i in range(1,6):
    for j in range(1,i+1):
        print(i,end='\t')
    print('\n')

1

2	2

3	3	3

4	4	4	4

5	5	5	5	5

In [59]:
for i in range(1,6):
    for j in range(1,i+1):
        print(i*j,end='\t')
    print('\n')

1

2	4

3	6	9

4	8	12	16

5	10	15	20	25

In [60]:
for i in range(1,6):
    for j in range(1,i+1):
        print(i+j,end='\t')
    print('\n')

2

3	4

4	5	6

5	6	7	8

6	7	8	9	10

In [67]:
for i in range(5):
    for j in range(1,i+2):
        print(i+j,end='\t')
    print('\n')

1

2	3

3	4	5

4	5	6	7

5	6	7	8	9

In [104]:
n=1
for i in range(1,5):
    for j in range(1,i+1):
        print(n,end='\t')
        n=n+1
    print('\n')

1

2	3

4	5	6

7	8	9	10

In [2]:
ascii_value=ord('A')
for i in range(1,5):
    for j in range(1,i+1):
        print(chr(ascii_value),end='\t')
        ascii_value+=1
    print('\n')

A

B	C

D	E	F

G	H	I	J

In [1]:
ascii_value=ord('A')
for i in range(1,8):
    for j in range(1,i+1):
        print(chr(ascii_value),end='\t')
    ascii_value+=1
    print('\n')

A

B	B

C	C	C

D	D	D	D

E	E	E	E	E

F	F	F	F	F	F

G	G	G	G	G	G	G

In [18]:
ascii_value=ord('A')
for i in range(1,5):
    for j in range(1,i+1):
        print(chr(ascii_value),end='\t')
        ascii_value+=1
    print('\n')

A

B	C

D	E	F

G	H	I	J

In [16]:

for i in range(65,70):
    for j in range(65,i+1):
        print(chr(j),end='\t')
        
    print('\n')

A

A	B

A	B	C

A	B	C	D

A	B	C	D	E

In [13]:
chr(65)

'A'