In [1]:
price=25000
print(f"My mobile price is {price}")

My mobile price is 25000

In [2]:
print(f"My mobile price is {price:.2f}")

My mobile price is 25000.00

In [3]:
marks=0.79
print(f"Marks in percentage {marks:.2%}")

Marks in percentage 79.00%

In [4]:
marks=0.79
f"Marks in percentage {marks:.0%}"

'Marks in percentage 79%'

In [5]:
x=22
f"Value of x is {x:.2f}"

'Value of x is 22.00'

In [6]:
x=22.78665676
f"Value of x is {x:.2f}"

'Value of x is 22.79'

In [7]:
x=27
print(f"Value of x in binary number {x:b}") #2^4+2^3+2^1+2^0
print(f"Value of x in octal number {x:o}")
print(F"Value of x in hexadecimal number {x:x}")

Value of x in binary number 11011
Value of x in octal number 33
Value of x in hexadecimal number 1b

In [12]:
"My friends name are {} {} {}".format('Sanjana','Anjali','Kirti')

'My friends name are Sanjana Anjali Kirti'

In [13]:
"My friends name are {0} {2} {1}".format('Sanjana','Anjali','Kirti')

'My friends name are Sanjana Kirti Anjali'

In [15]:
x='pizza'
y='burger'
"I ordered {} and {}".format(x,y)

'I ordered pizza and burger'

In [20]:
x='pizza'
y='burger'
"I ordered {1} and {0}".format(x,y)

'I ordered burger and pizza'

In [21]:
"I ordered {x} and {y}".format(x='pizza',y='burger')

'I ordered pizza and burger'

In [30]:
student_name='Anjali'
age=24
marks=87.72

print("Student name is %s age is %d and marks are %.2f"%(student_name,age,marks))

Student name is Anjali age is 24 and marks are 87.72

Write a program to calculate area of circle

In [44]:
#input of program 
radius=float(input("Enter the radius: "))
pi=3.14
area=pi*radius**2
print(f"Radius of circle is {radius} m and area of circle is {area} m^2")

Radius of circle is 5.0 m and area of circle is 78.5 m^2

In [1]:
balance_amount=50000
#input debit amount
debit_amount=int(input("Enter the amount"))
balance_amount=balance_amount-debit_amount
print(f"Debited amount is {debit_amount} and Current balance amount is {balance_amount}")

Debited amount is 500 and Current balance amount is 49500

In [49]:
balance_amount=50000
#input debit amount
debit_amount=int(input("Enter the amount"))
balance_amount=balance_amount-debit_amount
print("Debited amount is {} and Current balance amount is {}".format(debit_amount,balance_amount))

Debited amount is 500 and Current balance amount is 49500

In [50]:
balance_amount=50000
#input debit amount
debit_amount=int(input("Enter the amount"))
#process
balance_amount=balance_amount-debit_amount
#output
print("Debited amount is %d and Current balance amount is %d"%(debit_amount,balance_amount))

Debited amount is 600 and Current balance amount is 49400

In [1]:
#print(f"{a}") print("{}".format()) print("%d %d"%())

In [4]:
import bank_server
print(bank_server.balance_amount)
amount=int(input('Enter amount'))
print(bank_server.credit(amount))

100500
101500