In [141]:
student=list()
print(type(student))

<class 'list'>

In [142]:
student_name=[]
print(type(student_name))

<class 'list'>

In [143]:
student_name=[]
#add elements into a list
student_name.append('Nilam') # append add only single value 
student_name

['Nilam']

In [144]:
student_name=['Nilam']
#mutable allow duplicate value
student_name.extend(['Kartika','Anjali']) #it will add at the end of the list
student_name

['Nilam', 'Kartika', 'Anjali']

In [145]:
student_name.extend(['Aniket','Nikhil','Satyajeet'])
student_name

['Nilam', 'Kartika', 'Anjali', 'Aniket', 'Nikhil', 'Satyajeet']

In [146]:
student_name.insert(3,'Pragati') #to insert Pragati at 3rd position

In [147]:
student_name

['Nilam', 'Kartika', 'Anjali', 'Pragati', 'Aniket', 'Nikhil', 'Satyajeet']

In [148]:
print(len(student_name))

7

In [149]:
#extend append insert + operator

In [150]:
student_name=student_name+['Piyush','Prathmesh','Pranoti'] #list concatenation 
student_name

['Nilam',
 'Kartika',
 'Anjali',
 'Pragati',
 'Aniket',
 'Nikhil',
 'Satyajeet',
 'Piyush',
 'Prathmesh',
 'Pranoti']

In [151]:
len(student_name)

10

In [152]:
#change element values or update an element edit list element using update function

student_name[-2]='Nilesh' #we assign nilesh to 8th position of list
student_name

['Nilam',
 'Kartika',
 'Anjali',
 'Pragati',
 'Aniket',
 'Nikhil',
 'Satyajeet',
 'Piyush',
 'Nilesh',
 'Pranoti']

In [153]:
student_name.index('Nilesh')#to find out index value

8

In [154]:
print(student_name)

['Nilam', 'Kartika', 'Anjali', 'Pragati', 'Aniket', 'Nikhil', 'Satyajeet', 'Piyush', 'Nilesh', 'Pranoti']

In [155]:
student_name.index('Nikhil')

5

In [156]:
student_name[5]='Anushka'

In [157]:
print(student_name)

['Nilam', 'Kartika', 'Anjali', 'Pragati', 'Aniket', 'Anushka', 'Satyajeet', 'Piyush', 'Nilesh', 'Pranoti']

In [158]:
student_name[6:9]=['Ganesh','Vijay','Khan']
print(student_name)

['Nilam', 'Kartika', 'Anjali', 'Pragati', 'Aniket', 'Anushka', 'Ganesh', 'Vijay', 'Khan', 'Pranoti']

In [159]:
student_name

['Nilam',
 'Kartika',
 'Anjali',
 'Pragati',
 'Aniket',
 'Anushka',
 'Ganesh',
 'Vijay',
 'Khan',
 'Pranoti']

In [160]:
student_name.reverse

In [161]:
temp=student_name[0]
student_name[0]=student_name[-1]          #swapping
student_name[-1]=temp

In [162]:
student_name

['Pranoti',
 'Kartika',
 'Anjali',
 'Pragati',
 'Aniket',
 'Anushka',
 'Ganesh',
 'Vijay',
 'Khan',
 'Nilam']

In [163]:
student_name[::]

['Pranoti',
 'Kartika',
 'Anjali',
 'Pragati',
 'Aniket',
 'Anushka',
 'Ganesh',
 'Vijay',
 'Khan',
 'Nilam']

In [164]:
#list reversing
student_name[::-1]

['Nilam',
 'Khan',
 'Vijay',
 'Ganesh',
 'Anushka',
 'Aniket',
 'Pragati',
 'Anjali',
 'Kartika',
 'Pranoti']

In [165]:
print(student_name)
print(student_name[::2])

['Pranoti', 'Kartika', 'Anjali', 'Pragati', 'Aniket', 'Anushka', 'Ganesh', 'Vijay', 'Khan', 'Nilam']
['Pranoti', 'Anjali', 'Aniket', 'Ganesh', 'Khan']

In [166]:
print(student_name[1::2])

['Kartika', 'Pragati', 'Anushka', 'Vijay', 'Nilam']

In [167]:
student_name.reverse() #[::-1]
print(student_name)

['Nilam', 'Khan', 'Vijay', 'Ganesh', 'Anushka', 'Aniket', 'Pragati', 'Anjali', 'Kartika', 'Pranoti']

In [168]:
student_name

['Nilam',
 'Khan',
 'Vijay',
 'Ganesh',
 'Anushka',
 'Aniket',
 'Pragati',
 'Anjali',
 'Kartika',
 'Pranoti']

### [ : : -1] is equivalent to reverse()

In [169]:
student_name

['Nilam',
 'Khan',
 'Vijay',
 'Ganesh',
 'Anushka',
 'Aniket',
 'Pragati',
 'Anjali',
 'Kartika',
 'Pranoti']

In [170]:
#Delete element from a given list

student_name.pop()

'Pranoti'

In [171]:
student_name

['Nilam',
 'Khan',
 'Vijay',
 'Ganesh',
 'Anushka',
 'Aniket',
 'Pragati',
 'Anjali',
 'Kartika']

In [172]:
student_name.remove('Ganesh')
student_name

['Nilam', 'Khan', 'Vijay', 'Anushka', 'Aniket', 'Pragati', 'Anjali', 'Kartika']

In [173]:
x=100
print(id(x))

140711416571416

In [174]:
y=100
print(id(y))

140711416571416

In [175]:
x=100
y=x #assignment operator both variables having same memory address
print('x=',id(x),'y=',id(y))
print('x=',x,'y=',y)
x=x+y
x
print(x,y)
print(id(x),id(y))

x= 140711416571416 y= 140711416571416
x= 100 y= 100
200 100
140711416574616 140711416571416

In [176]:
original_list=[11,22,33,44,55]
copied_list=original_list
print("original list",original_list)
print("copied_list",copied_list)
print("Id of original list",id(original_list))
print("Id of copied list",id(copied_list))
original_list.append('66')
print('After list updation')
print(id(original_list))
print(original_list)
print(copied_list)

original list [11, 22, 33, 44, 55]
copied_list [11, 22, 33, 44, 55]
Id of original list 1907938375936
Id of copied list 1907938375936
After list updation
1907938375936
[11, 22, 33, 44, 55, '66']
[11, 22, 33, 44, 55, '66']

In [177]:
original_list=[11,22,33,44,55]
copied_list=original_list.copy() #deep copy has different memory address
print("original list",original_list)
print("copied_list",copied_list)
print("Id of original list",id(original_list))
print("Id of copied list",id(copied_list))
original_list.append('66')
print('After list updation')
print(id(original_list))
print(original_list)
print(copied_list)

original list [11, 22, 33, 44, 55]
copied_list [11, 22, 33, 44, 55]
Id of original list 1907938134784
Id of copied list 1907932027520
After list updation
1907938134784
[11, 22, 33, 44, 55, '66']
[11, 22, 33, 44, 55]

In [178]:
student_name.count('Nilam')

1

In [179]:
from collections import Counter

Counter(student_name)

Counter({'Nilam': 1,
         'Khan': 1,
         'Vijay': 1,
         'Anushka': 1,
         'Aniket': 1,
         'Pragati': 1,
         'Anjali': 1,
         'Kartika': 1})

In [180]:
student_name.sort()
student_name

['Aniket', 'Anjali', 'Anushka', 'Kartika', 'Khan', 'Nilam', 'Pragati', 'Vijay']

In [181]:
student_name.extend(['gaurav','nilesh'])
student_name

['Aniket',
 'Anjali',
 'Anushka',
 'Kartika',
 'Khan',
 'Nilam',
 'Pragati',
 'Vijay',
 'gaurav',
 'nilesh']

In [182]:
student_name.append('Nikhil')
student_name

['Aniket',
 'Anjali',
 'Anushka',
 'Kartika',
 'Khan',
 'Nilam',
 'Pragati',
 'Vijay',
 'gaurav',
 'nilesh',
 'Nikhil']

In [183]:
student_name.sort() #ascending order sorting
student_name

['Aniket',
 'Anjali',
 'Anushka',
 'Kartika',
 'Khan',
 'Nikhil',
 'Nilam',
 'Pragati',
 'Vijay',
 'gaurav',
 'nilesh']

##### ASCII American standard code information interchange  int numbers

In [186]:
ord('A') #ord function is used to check ASCII value of any character

65

In [187]:
ord('Z')

90

In [189]:
ord('a')

97

In [190]:
ord('z')

122

In [195]:
ord('0'),ord('9')

(48, 57)

In [197]:
ord('{')

123

In [201]:
#chr() is used to check the character ascii value
chr(0)

'\x00'

In [204]:
value=[1,67,23,89,54,69]
print(value.sort(reverse=True))
print(value)

None
[89, 69, 67, 54, 23, 1]

In [207]:
#append extend insert copy sort reverse count remove pop clear index