In [1]:
[i for i in 'welcome']

['w', 'e', 'l', 'c', 'o', 'm', 'e']

In [2]:
nums=[34,56,78,-90,34,-20,78,21]
[i for i in nums if i>0]

[34, 56, 78, 34, 78, 21]

In [3]:
nums=[34,56,78,-90,34,-20,78,21]
[i for i in nums if i<0]

[-90, -20]

In [5]:
names=['Anjali','pooja','bhakti','susmita']
[i.title() for i in names]

['Anjali', 'Pooja', 'Bhakti', 'Susmita']

In [8]:
fruits=['apple','banana','pineapple','grapes']
[i.replace('pineapple','mango') for i in fruits ]

['apple', 'banana', 'mango', 'grapes']

In [16]:
#addition of digits 5+6+4+7

sample=['nil5esh','ani6ket','gaur4av','satya7jit']
s=0
for i in sample:
    for j in i:
        if(j.isdigit()):
            s=s+int(j)
print(s)

22

In [2]:
sample=['nil5esh','ani6ket','gaur4av','satya7jit']
sum_of_digits=[int(j) for i in sample for j in i if(j.isdigit())]
sum(sum_of_digits)

22

In [21]:
x=20
'hello' if x%2==0 else 'bye'

'hello'

In [23]:
#to sort even and odd numbers from list
num=[27,65,44,34,41,51,37]
[f'even:{i}' if(i%2==0) else f'odd:{i}' for i in num]

['odd:27', 'odd:65', 'even:44', 'even:34', 'odd:41', 'odd:51', 'odd:37']

In [3]:
x=[10,20,30,40]
y=[50,60,70,80]
[i+j for i,j in zip(x,y)]

[60, 80, 100, 120]

In [27]:
#iterator=>to access single element at a time
x='happy'
i1=iter(x)
print(i1)
print(type(i1))
print(next(i1))
print(next(i1))
print(next(i1))
print(next(i1))
print(next(i1))
print(next(i1))

<str_ascii_iterator object at 0x000001AADCA0F970>
<class 'str_ascii_iterator'>
h
a
p
p
y

StopIteration:

In [28]:
x='Happy'
e1=enumerate(x)
print(e1)
print(type(e1))
print(next(e1))
print(next(e1))
print(next(e1))
print(next(e1))
print(next(e1))

<enumerate object at 0x000001AADC91AC00>
<class 'enumerate'>
(0, 'H')
(1, 'a')
(2, 'p')
(3, 'p')
(4, 'y')

In [29]:
for i,j in enumerate(x):
    print(i,j)

0 H
1 a
2 p
3 p
4 y

In [ ]:
#yashvant kanetkar

In [32]:
x='Happy'
e1=reversed(x)
print(e1)
print(type(e1))
print(next(e1))
print(next(e1))
print(next(e1))
print(next(e1))
print(next(e1))

<reversed object at 0x000001AADC832AD0>
<class 'reversed'>
y
p
p
a
H

In [ ]:
#next enumerate iter reversed

In [6]:
#to find lucky number of birthdate
bd='31/10/1999'
s=0
total=sum(int(i) for i in bd if (i.isdigit()))
total
while total>9:
    total=sum(int(i) for i in str(total))
print(f'lucky number is {total}')

lucky number is 6

In [6]:
s=0
for i in '31/10/1999':
    if i.isdigit():
        s=s+int(i)
t=0
for i in str(s):
    t=t+int(i)
print(s)
print(t)

33
6

In [8]:
birthdate='31/10/1999'

total=sum(int(i) for i in birthdate if i.isdigit())
while total>9:
    total=sum(int(i) for i in str(total))
print('lucky number',total)
vehicalno='MH1233455'

total1=sum(int(i) for i in vehicalno if i.isdigit())
while total1>9:
    total1=sum(int(i) for i in str(total1))
print('lucky number',total1)
if total==total1:
    print('You are in safe zone')
else:
    print('you are in danger zone')

lucky number 6
lucky number 5
you are in danger zone