In [20]:
#to display the square of numbers of a given list

In [32]:
import random
random.seed(10)
numbers=random.sample(range(50),k=5)
print('List numbers are',numbers)
square_numbers=[]
def squares(x):
    for i in x:
        square_numbers.append(i*i)
squares(numbers)
print('Final result',square_numbers)

List numbers are [36, 2, 27, 30, 0]
Final result [1296, 4, 729, 900, 0]

In [39]:
import random
numbers=random.sample(range(50),k=5)
print('List numbers are',numbers)
def square(x):
    return x*x
list(map(square,numbers))

List numbers are [26, 18, 43, 16, 29]

[676, 324, 1849, 256, 841]

In [40]:
import random
numbers=random.sample(range(50),k=5)
print('List numbers are',numbers)

list(map(lambda x: x*x,numbers))

List numbers are [11, 43, 19, 42, 23]

[121, 1849, 361, 1764, 529]

In [41]:
name='Anjali'
list(map(lambda x:x, name))

['A', 'n', 'j', 'a', 'l', 'i']

In [45]:
name='Anjali'
list(map(lambda x:x, name))[::-1]

['i', 'l', 'a', 'j', 'n', 'A']

In [48]:
name='Anjali'
list(map(lambda x:x, name[::-1]))

['i', 'l', 'a', 'j', 'n', 'A']

In [51]:
name='Anjali'
list(map(lambda x:x, sorted(name)))

['A', 'a', 'i', 'j', 'l', 'n']

In [55]:
name_list=['Abhishek','Kartika','Anushka','Nilesh']
list(map(lambda x: x[::-1],name_list))

['kehsihbA', 'akitraK', 'akhsunA', 'hseliN']

In [58]:
name_list=['Abhishek','Kartika','Anushka','Nilesh']
list(map(lambda x: x.upper(),name_list))

['ABHISHEK', 'KARTIKA', 'ANUSHKA', 'NILESH']

In [87]:
#name_list=['Abhishek','Kartika','Anushka','Nilesh']
#list(map(lambda x: x[round(len(x)/2)],name_list))

['s', 'i', 'h', 'e']

In [88]:
#to find middle value
name_list=['Abhishek','Kartika','Anushka','Nilesh']
list(map(lambda x: x[len(x)//2],name_list))

['s', 't', 's', 'e']

In [92]:
name_list=['Abhishek','Kartika','Anushka','Nilesh']
list(map(lambda x:x ,name_list))

['Abhishek', 'Kartika', 'Anushka', 'Nilesh']

In [81]:
name='Anjaliv'
name[int(len(name)/2)]

'a'

In [73]:
import math
math.ceil(5.4)

6

In [93]:
7//2

3

In [4]:
stud_data=[('Piyush',78),('Nilam',62),('Anjali',98),('Nikhil',85)]
#two dimensional list sorting in python
#list within tuple sorting

In [14]:

def sortSecond(val):
    return val[1] 
 
# list1 to demonstrate the use of sorting 
# using second key 
list1 = [('Piyush',78),('Nilam',62),('Anjali',98),('Nikhil',85)]
 
# sorts the array in ascending according to 
# second element
list1.sort(key=sortSecond) 
print(list1)
 
# sorts the array in descending according to
# second element
list1.sort(key=sortSecond,reverse=True)
print(list1)

[('Nilam', 62), ('Piyush', 78), ('Nikhil', 85), ('Anjali', 98)]
[('Anjali', 98), ('Nikhil', 85), ('Piyush', 78), ('Nilam', 62)]

In [8]:
stud_data.sort(key=lambda x:x[1])
print(stud_data)
stud_data.sort(key=lambda x:x[0])
print(stud_data)

[('Nilam', 62), ('Piyush', 78), ('Nikhil', 85), ('Anjali', 98)]
[('Anjali', 98), ('Nikhil', 85), ('Nilam', 62), ('Piyush', 78)]

In [7]:
sorted(stud_data,key=lambda x:x[1])
sorted(stud_data,key=lambda x:x[1],reverse=True)

[('Anjali', 98), ('Nikhil', 85), ('Piyush', 78), ('Nilam', 62)]