In [1]:
str1='Happy Days 2024'
p='[A-Z]'
import re
re.findall(p,str1)

['H', 'D']

In [2]:
str1='Happy Days 2024'
p='[a-z]'
re.findall(p,str1)

['a', 'p', 'p', 'y', 'a', 'y', 's']

In [3]:
str1='Happy Days 2024'
p='[0-9]'
re.findall(p,str1)

['2', '0', '2', '4']

In [5]:
str1='Happy Days 2024'
p='[A-Z a-z 0-9]'
re.findall(p,str1)

['H', 'a', 'p', 'p', 'y', ' ', 'D', 'a', 'y', 's', ' ', '2', '0', '2', '4']

In [7]:
str1='*Happy Days 2024*'
p=r'\w'                #it just return only alphanumeric chars
re.findall(p,str1)

['H', 'a', 'p', 'p', 'y', 'D', 'a', 'y', 's', '2', '0', '2', '4']

In [9]:
str1='*Happy Days 2024*'
p=r'\W'                #it just return only special chars
re.findall(p,str1)

['*', ' ', ' ', '*']

In [12]:
str1='*Happy Days 2024*'
p=r'\s'                #it just return only speces chars
re.findall(p,str1)

[' ', ' ']

In [17]:
str1='*Happy Days 2024*'
p=r'\S'                #it just return only all chars + special chars exclude space
re.findall(p,str1)

['*', 'H', 'a', 'p', 'p', 'y', 'D', 'a', 'y', 's', '2', '0', '2', '4', '*']

In [18]:
str1='*Happy Days 2024*'
p=r'\d'                #it just return only digits 
re.findall(p,str1)

['2', '0', '2', '4']

In [20]:
str1='*Happy Days 2024*'
p=r'\D'                #it just return only chars+spl chars 
re.findall(p,str1)

['*', 'H', 'a', 'p', 'p', 'y', ' ', 'D', 'a', 'y', 's', ' ', '*']

In [ ]:
#w W s S d D

In [28]:
str1='Anjali'
p='^A'
import re
re.findall(p,str1)

['A']

In [25]:
str1='Anjali'
p='^b'         #starts with a
import re
re.findall(p,str1)

[]

In [27]:
str1='Anjali'
p='i$'          #end with i
import re
re.findall(p,str1)

['i']

In [35]:
str1='Anjali'
p='^A....i$'          # 4 chars between A and i
import re
re.findall(p,str1)

['Anjali']

In [34]:
str1='Anjali'
p='^A.*i$'          #end with i
import re
re.findall(p,str1)

['Anjali']

In [41]:
str1='Anjali'
p='A.*'          # .* zero or more occurence of characters
import re
re.findall(p,str1)

['Anjali']

In [39]:
str1='Anjali'
p='A.+'          # .*one or more occurence of characters
import re
re.findall(p,str1)

['Anjali']

In [43]:
str1='Ai'
p='A.+i'          # .*one or more occurence of characters
import re
re.findall(p,str1)

[]

In [44]:
str1='Ai'
p='A.*i'          # .*zero or more occurence of characters
import re
re.findall(p,str1)

['Ai']

In [5]:
x='Welcome'
p='[A-Z]'
import re
print(re.search(p,x))

<re.Match object; span=(0, 1), match='W'>

In [6]:
x='welCome'
p='[A-Z]'
import re
print(re.search(p,x))     #overall string matches chars

<re.Match object; span=(3, 4), match='C'>

In [ ]:
#wild chars means meta chars

In [8]:
x='WelCome'
p='[A-Z]'
import re
print(re.match(p,x))         #only first char matched

<re.Match object; span=(0, 1), match='W'>