In [26]:
#creating a set
s1=set()
print(type(s1))

<class 'set'>

In [6]:
#creating an empty set
#(23) is int (23,) is tuple
x={23}
type(x)

set

In [28]:
mobile_name={'samsung','redmi','oppo'}
print(mobile_name)

{'oppo', 'samsung', 'redmi'}

In [29]:
#add elements into a set
mobile_name.add('vivo') #called functions result stored in set

In [30]:
mobile_name

{'oppo', 'redmi', 'samsung', 'vivo'}

In [31]:
#add more than one elements
mobile_name.update({'iphone','nokia'})
print(mobile_name)

{'vivo', 'nokia', 'iphone', 'redmi', 'oppo', 'samsung'}

In [32]:
#remove or delete an item from a set

mobile_name.pop()
print(mobile_name)

{'nokia', 'iphone', 'redmi', 'oppo', 'samsung'}

In [33]:
mobile_name.remove('iphone')
mobile_name

{'nokia', 'oppo', 'redmi', 'samsung'}

In [34]:
#add update pop remove

In [35]:
mobile_name.add('nokia')

In [36]:
mobile_name

{'nokia', 'oppo', 'redmi', 'samsung'}

In [53]:
# To find common and uncommon directors from a given names

myname='ANJALI'
myfriendname='kAMBLE'
#type conversion =>convert string into set
s1=set(myname)
print("Convert string to set",s1)
s2=set(myfriendname)
print("Convert string to set",s2)

print("Common characters from a given name",s1.intersection(s2))
print("Common characters from a given name",s1&s2)
print("Uncommon characters from a given name",s1.symmetric_difference(s2))
print("Uncommon characters from a given name",s1^(s2))
print("Uncommon and common characters from a given name",s1.union(s2))
print("Uncommon and common characters from a given name",s1|s2)
#only - used intersection update union update symmetric_difference

Convert string to set {'N', 'I', 'A', 'J', 'L'}
Convert string to set {'A', 'B', 'k', 'L', 'E', 'M'}
Common characters from a given name {'L', 'A'}
Common characters from a given name {'L', 'A'}
Uncommon characters from a given name {'N', 'I', 'B', 'M', 'k', 'E', 'J'}
Uncommon characters from a given name {'N', 'I', 'B', 'M', 'k', 'E', 'J'}
Uncommon and common characters from a given name {'N', 'I', 'A', 'B', 'k', 'E', 'J', 'L', 'M'}
Uncommon and common characters from a given name {'N', 'I', 'A', 'B', 'k', 'E', 'J', 'L', 'M'}

### Frozen Set

In [54]:
#empty set
f1=frozenset()
print(type(f1))

<class 'frozenset'>

In [57]:
f1=frozenset({1,2,4,6})
print(f1)
#immuatable and unordered

frozenset({1, 2, 4, 6})

In [58]:
f2=frozenset({12,4,6,4})
print(f1)

frozenset({1, 2, 4, 6})

In [59]:
f1-f2

frozenset({1, 2})

In [60]:
f1.intersection(f2)

frozenset({4, 6})

In [61]:
f1.union(f2)

frozenset({1, 2, 4, 6, 12})

In [62]:
f1.isdisjoint(f2)

False

In [68]:
#bool data types
bool(5*8<9)

False

In [65]:
type(bool())

bool

In [73]:
bool(0)

False

In [74]:
bool(-1)

True

In [75]:
bool('python')

True

In [ ]:
#bool()

In [82]:
print(bool([]))
print(bool(()))
print(bool(0))
print(bool({}))
print(bool(''))

False
False
False
False
False

In [80]:
False+True#keywords 0+1=1

1

In [83]:
bool(78),bool(''),bool(0),bool(-67)

(True, False, False, True)

In [84]:
bool(65+7)

True

In [85]:
bool(99-99)

False

In [86]:
bool('f'+'g')

True

In [87]:
'h'+'j'

'hj'