In [69]:
tuple()

()

In [70]:
t1=(60,10,20,30,40,50)
print(type(t1))
print(t1)

<class 'tuple'>
(60, 10, 20, 30, 40, 50)

In [71]:
t1.index(30)

3

In [72]:
t1.count(10)

1

In [73]:
from collections import Counter

In [74]:
print(Counter(t1))

Counter({60: 1, 10: 1, 20: 1, 30: 1, 40: 1, 50: 1})

In [75]:
#how to sort the tuple elements
sorted(t1)

[10, 20, 30, 40, 50, 60]

In [76]:
marks=(56,89,23,67,89,23,56,17,83)
sorted(marks)

[17, 23, 23, 56, 56, 67, 83, 89, 89]

In [77]:
marks=[56,89,23,67,89,23,56,17,83]
sorted(marks)

[17, 23, 23, 56, 56, 67, 83, 89, 89]

In [26]:
#2 dimensional data type values

names=[['Apple',10],['Grapes',2],['Mango',4],['Watermelor',1]]
names
d={}
list=[d.fromkeys(i.split(),j) for i,j in names]
for i in list:
    d.update(i)
d

{'Apple': 10, 'Grapes': 2, 'Mango': 4, 'Watermelor': 1}

In [79]:
names.index(['Mango',4])

2

In [80]:
names[2][0]

'Mango'

In [81]:
names[1]

['Grapes', 2]

In [82]:
names[0]

['Apple', 10]

In [83]:
names[3][1]

1

In [84]:
names[3][0]

'Watermelor'

In [85]:
len(names)

4

In [86]:

names=[('Apple',10),('Grapes',2),('Mango',4),('Watermelor',1)]
names

[('Apple', 10), ('Grapes', 2), ('Mango', 4), ('Watermelor', 1)]

In [87]:
names[1][1]

2

In [88]:
stud_data=(('Aniket',80),('Nilam',90),('Pronoti',70),('Prathamesh',88),('Gaurav',78))
stud_data

(('Aniket', 80),
 ('Nilam', 90),
 ('Pronoti', 70),
 ('Prathamesh', 88),
 ('Gaurav', 78))

In [89]:
len(stud_data)

5

In [90]:
stud_data[3][1]

88

TypeError: unsupported operand type(s) for -: 'list' and 'list'